<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    <div class="main-content">
      {{> header}}
      <img  class="profile-pic" src="/img/avtar.png" alt="profile pic" />
    </div>
    {{> footer}}
  </body>
</html>